body{
	font-family:Arial;
	font-size:12px;
	text-align: left;
	text-decoration: none;
	margin-top: 0;
	margin-right: 1;
	margin-bottom: 1;
	margin-left: 1;
	padding-top: 0px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;	
	
}

#right_column{
	float:right;
}
 
  .headgbr {
    color: #FFFF00;
    font-family: Arial;
    font-size: 20px;
    background-image: url(images/ijo.jpg);
    font-weight: bold;
    background-position: center;
    text-align: center;


    }

  .headlist {
	background-image: url(images/headgbr.jpg);
	font-weight: bold;
	background-position: center;
	text-align: center;
    }    
  .lastlist {
    background-color: #F1F5FE;
    }    
    
    
  .dr {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial;
	font-size: 9px;

    
  }
  .sr {
	background-color: #EEEEEE;
	color: #000000;
	font-family: Arial;
	font-size: 9px;
  }
  
  .head2 {
	background-color: #3399FF;
	text-align: center;
  }  
  .gayatd {
	background-color: #3399FF;
  }  
    .tengah {
	text-align: center;
  }  
  
#print {
    background-position:center top;
    width: 50%;
    height: 100px;
    background-image: url(images/print.png);
    background-repeat: no-repeat;
}
.head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #FFFF00;
	background:url(images/20.jpg);
	height: 32px;	
}
td {
	font-size: 12px;
}



.salah {
	background-color: #FFA4A4;
	border: thin dashed #F00;
	height: auto;
	width: 300px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	display: inherit;
}

.ket {
	background-color: #FFA4A4;
	border: thin dashed #F00;
	height: auto;
	width: auto;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align: middle;
	display: inherit;
}


.td_left {
	text-align: left;
}

.td_center{
	text-align: center;
	text-decoration:none;
}

.td_right{
	text-align: right;
	text-decoration:none;
}


.garis {
	background-image: url(images/garis.jpg);
}
.tabeltipis {
	border-collapse: collapse;
}

#dsemua {
	width:100%;
	}
#dkiri {
	float:left;
	width:11%;
	background-color:#DFDFFF;
	border: thin solid #36F;	
	
	}
#dtengah {
	float:right;
	width:88%;
	border: thin solid #36F;		
	}